{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Delete object {{ object }}
{% endblock title %}

{% block content %}
<h1>Are you sure?</h1>
<p>You are about to delete the following object:</p>
<ul class="list-group">
    <li class="list-group-item"><strong>ID: </strong>{{ object.id }}</li>
    <li class="list-group-item"><strong>Name: </strong>{{ object }}</li>
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">Yes, Delete it.</button>
        <a href="{% url redirect_url  %}" class="btn btn-secondary">No, Take me back</a>
    </form>
</ul>
{% endblock content %}